.advantage {
  @include wrapper;
  background-color: #f2f2f2;
  list-style: none;
  text-align: center;
  padding: 0;
}

.advantage__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: -9px;
}

.advantage__text {
  font-size: 14px;
  line-height: 24px;
  margin: 18px 0 10px 0;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage__img-mobile {
  width: 155px;
  order: 1;
  margin-bottom: -38px;
  margin-top: 30px;
}

.advantage__img-tablet {
  display: none;
}

.advantage__img-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage {
    text-align: left;
    display: flex;
    margin: -24px 0 0 42px;
  }

  .advantage__item {
    align-items: flex-start;
    margin-bottom: 3px;
  }

  .advantage__img-mobile {
    display: none;
  }

  .advantage__img-tablet {
    width: 268px;
    display: block;
    position: relative;
    top: -72px;
  }

  .advantage__img-desktop {
    display: none;
  }

  .advantage__text {
    width: 307px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    flex-direction: row;
    justify-content: center;
    margin: -83px 0 0 4px;
  }

  .advantage__item {
    text-align: center;
    margin: 0 19px 0 14px;
  }

  .advantage__img-tablet {
    display: none;
  }

  .advantage__img-desktop {
    display: block;
  }

  .advantage__title {
    font-size: 30px;
    margin-top: 54px;
    text-align: center;
    margin-left: 32px;
    width: 221px;
  }

  .advantage__text {
    font-size: 18px;
    line-height: 30px;
    width: 248px;
    margin: 33px 0 10px 25px;
  }

  .advantage__gap {
    display: none;
  }
}
