.advertising {
  background-image: url("../source/img/bg-back-mobile@1x.jpg");
  background-color: #283645;
}

.advertising__head {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.advertising__button {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.advertising__comment {
  color: #ffffff;
  line-height: 24px;
}
