.advertising {
  background-color: #1d2631;
  margin: 0 0 36px 0;
  text-align: center;
}

.advertising__wrapper {
  @include wrapper;
}

.advertising__background {
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  padding-top: 100px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("/img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.advertising__head {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  padding: 0 13px 26px 13px;
  margin: -10px 0 0 0;
  order: -2;
  font-weight: 300;
}

.advertising__tablet-block {
  display: flex;
  flex-direction: column;
}

.advertising__background::before {
  content: "";
  display: block;
  background-image: url("/img/iphone-hand-mobile@1x.png");
  width: 260px;
  height: 286px;
  background-repeat: no-repeat;
  order: 1;

  @media (min-resolution: $retina-dppx) {
    background-image: url("/img/iphone-hand-mobile@2x.png");
    background-size: cover;
  }
}

.advertising__list {
  display: flex;
  justify-content: start;
  padding: 0;
  align-items: flex-end;
  margin: 15px 0 21px 37px;
}

.advertising__item {
  list-style: none;
  margin-right: 36px;
}

.advertising__button {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 28px;
  padding: 15px 0 15px 0;
}

.advertising__button:hover {
  background-color: #ffffff;
  color: #d22856;
}

.advertising__button:active {
  color: rgba($color: #d22856, $alpha: 0.3);
}

.advertising__comment {
  color: #ffffff;
  line-height: 24px;
  margin: 0 0 29px;
  font-weight: 300;
}

.advertising__img {
  order: -1;
}

@media (min-width: $tablet-width) {
  .advertising {
    background-image: url("/img/bg-back-tablet@1x.jpg");
    background-size: cover;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    position: relative;
    min-height: 730px;
    padding-top: 10px;
    overflow: hidden;
    z-index: 10;
    background-position: 50% 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("/img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .advertising__item {
    margin: 0 19px;
  }

  .advertising__button {
    margin-bottom: 46px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }

  .advertising__head {
    padding: 0 75px 0 75px;
    font-size: 40px;
    line-height: 49px;
  }

  .advertising__tablet-block {
    width: 300px;
    display: block;
    // padding-top: 70px;
  }

  .advertising__background {
    background-image: none;
    padding-top: 205px;
  }

  .advertising__background::before {
    content: "";
    position: absolute;
    background-image: url("/img/iphone-hand-tablet@1x.png");
    width: 675px;
    height: 545px;
    background-repeat: no-repeat;
    order: 1;
    right: -8px;
    bottom: 0;
    background-position: 50%;
    z-index: -1;

    @media (min-resolution: $retina-dppx) {
      background-image: url("/img/iphone-hand-tablet@2x.png");
      background-size: cover;
    }
  }

  .advertising__tablet-img {
    display: block;
    width: 100%;
    margin-left: -295px;
  }

  .advertising__button,
  .advertising__list,
  .advertising__comment {
    z-index: 1;
  }

  .advertising__comment {
    text-align: center;
    font-size: 18px;
    margin: 15px 0 0 -3px;
    width: 308px;
  }

  .advertising__list {
    margin: 0 0 37px;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .advertising {
    background-image: url("/img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: 50%;

    @media (min-resolution: $retina-dppx) {
      background-image: url("/img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .advertising__background {
    padding-top: 120px;
  }

  .advertising__wrapper {
    position: relative;
    min-height: 844px;
    padding-top: 86px;
  }

  .advertising__background::before {
    content: "";
    position: absolute;
    background-image: url("/img/iphone-hand-desktop@1x.png");
    width: 900px;
    height: 645px;
    background-repeat: no-repeat;
    order: 1;
    right: -41px;
    bottom: 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("/img/iphone-hand-desktop@2x.png");
      background-size: cover;
    }
  }

  .advertising__head {
    font-size: 50px;
    line-height: 60px;
    padding: 0 30px 0 30px;
  }

  .aadvertising__tablet-block {
    padding-top: 60px;
    padding-bottom: 121px;
    margin-top: -47px;
  }

  .advertising__button {
    margin-bottom: 67px;
    margin-top: 51px;
    font-size: 21px;
    line-height: 18px;
  }

  .advertising__comment {
    margin: 32px 0 0 0;
    padding-right: 5px;
  }

  .advertising__list {
    margin: 0 0 55px;
  }
}
