.button {
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 35px;
  background-color: none;
  display: block;
  padding: 15px 0 16px 0;
  font-size: 18px;
  font-weight: 700;
  height: 100%;
}
