.checkbox {
  background-color: #f2f2f2;
}

.checkbox__wrapper {
  @include wrapper;
}

@media (min-width: $tablet-width) {
  .checkbox {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .checkbox__name {
    margin-top: -10px;
  }
}
