.contest-feedback {
  @include wrapper;
}

.contest-feedback__comment {
  width: 100%;
  height: 190px;
  resize: none;
}

.contest-feedback__button {
  background-color: #2aab6d;
  border-radius: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  width: 280px;
  padding: 8px 0;
  margin: 0 auto;
}

.contest-feedback__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
