.contest-feedback textarea {
  width: 280px;
  height: 190px;
  resize: none;
}

.contest-button {
  background-color: #2aab6d;
  border-radius: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
