.contest {
  font-family: "Open Sans", "Aria", sans-serif;
}

.contest__text {
  font-size: 14px;
  line-height: 30px;
}

.contest__title {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 300;
}

