.contacts {
  text-align: center;
  padding: 40px 0 0 0;
  overflow: hidden;
}

.contacts__text {
  font-size: 24px;
  line-height: 30px;
  margin: 1px 0 0 0;
  font-weight: 300;
}

.contacts__list {
  margin: 23px 20px 33px 20px;
  list-style: none;
  padding-left: 0;
}

.contacts__way {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.contacts__method {
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  text-decoration: none;
  margin: 3px 0 0;
  display: inline-block;
  font-weight: 300;
  vertical-align: top;
}

.contacts__item {
  display: block;
  margin: 14px 0 0 0;
}

.contacts__link-tablet,
.contacts__link-desktop {
  display: none;
}

.contacts__link-mobile {
  position: relative;
  display: block;
}

.contacts__map img::before {
  content: "";
  background: url("/img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100vw;
  height: 70px;
  left: 0;
  bottom: 100%;
  transform: rotateX(-50%);
  z-index: 10;
  display: block;
  right: 0;
  top: 0;
  background-size: 100%;
}

.contacts__map img {
  height: 207px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contacts__map {
  position: relative;
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 45px 0 0 0;
    position: relative;
  }

  .contacts__text {
    font-size: 40px;
    line-height: 45px;
  }

  .contacts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 37px 10px -7px 10px;
  }

  .contacts__item {
    width: 50%;
    margin: 11px 0 37px 0;
    display: flex;
    flex-direction: column;
  }

  .contacts__item:last-child {
    width: 215px;
  }

  .contacts__link-mobile,
  .contacts__link-desktop {
    display: none;
  }

  .contacts__link-tablet {
    display: block;
    height: 374px;
    overflow: hidden;
    position: relative;
  }

  .contacts__method {
    margin: -5px 0 0 0;
  }

  .contacts__email:hover {
    text-decoration: underline;
    color: #283645;
  }

  .contacts__email:active {
    color: rgba($color: #000000, $alpha: 0.3);
    text-decoration: none;
  }

  .contacts__map img {
    height: 500px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__link-tablet::before {
    content: "";
    background: url("/img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 70px;
    left: 0;
    bottom: 100%;
    transform: rotateX(-50%);
    z-index: 10;
    display: block;
    right: 0;
    top: 0;
    background-size: 100%;
  }

  .contacts__way {
    margin-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include wrapper;
    padding: 61px 0 0 0;
    margin-bottom: 30px;
    line-height: 30px;
    margin-top: 61px;
  }

  .contacts__text {
    font-size: 50px;
    line-height: 63px;
    margin: 0;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__link-mobile,
  .contacts__link-tablet {
    display: none;
  }

  .contacts__link-desktop {
    display: block;
    position: relative;
  }

  .contacts__item {
    width: 298px;

    &:last-child {
      width: 300px;
    }
  }

  .contacts__way {
    margin-bottom: 30px;
    display: block;
  }

  .contacts__list {
    margin: 43px 0 -23px 0;
    justify-content: space-between;
  }

  .contacts__map img {
    height: 500px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__link-desktop::before {
    content: "";
    background-image: url("/img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 130px;
    left: 50%;
    // bottom: 100%;
    transform: translateX(-50%);
    z-index: 10;
    // display: block;
    // right: 0;
    top: -1px;
    background-size: 100%;
    border-style: contain;
    background-position: 50% 0;
  }
}
