.full-name {
  font-family: "Open Sans", "Aria", sans-serif;
}

.full-name__text {
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}

.full-name__input {
  font-size: 18px;
  line-height: 30px;
}
