.news {
  display: none;
  position: relative;
}

.news__wrapper {
  @include wrapper;
}

.news__tittle {
  font-size: 30px;
  line-height: 36px;
}

.news__link {
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .news {
    min-height: 300px;
    display: block;
    margin-bottom: 122px;
  }

  .news__wrapper {
    position: relative;
  }

  .news__section::before {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 96px;
    font-weight: 700;
    content: "";
    position: absolute;
    background-image: url("/img/icon-timer.svg");
    width: 241px;
    height: 313px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 20px;
    top: 53px;
    line-height: 385%;
    fill: #d22856;
  }

  .news__section::after {
    left: 39px;
    bottom: 0;
    content: "24";
    font-size: 96px;
    font-weight: 700;
    position: absolute;
    border: 13px solid #d22856;
    color: #d22856;
    border-radius: 100%;
    padding: 66px 34px 73px 32px;
  }

  .news__section {
    padding-left: 309px;
    padding-top: 63px;
  }

  .news__tittle {
    margin-bottom: 0;
    margin-left: 0;
    width: 170px;
  }

  .news__text {
    margin: 9px 0 8px 0;
    line-height: 24px;
    width: 300px;
  }

  .news__gap-desk {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .news__section::after {
    left: 36px;
    bottom: -19px;
    padding: 91px 41px 97px 41px;
    font-size: 121px;
  }

  .news__section::before {
    width: 307px;
    height: 345px;
    left: 10px;
    top: 18px;
  }

  .news {
    background-color: #f2f2f2;
    padding: 0 0 62px 0;
    max-width: none;
  }

  .news__gap {
    display: none;
  }

  .news__section {
    padding-left: 348px;
    padding-top: 77px;
  }

  .news__tittle {
    width: 100%;
    margin-left: 16px;
  }

  .news__text {
    margin: 22px 0 27px 19px;
    line-height: 31px;
    width: 528px;
    font-size: 18px;
  }

  .news__link {
    font-size: 18px;
    margin-left: 17px;
  }

  .news__gap-desk {
    display: block;
  }
}
