.page-footer {
  @include wrapper;
  display: flex;
}

.page-footer__social {
  list-style: none;
  display: flex;
  fill: #d22856;
}

.page-footer__link {
  border: 1px solid #e9ebec;
  border-radius: 50%;
  padding: 10px 17px 6px 17px;
  margin-right: 5px;
}

.page-footer__develop {
  line-height: 18px;
  width: 140px;
  fill: #d22856;
}

.page-footer__img {
  fill: red;
}

.page-footer__svg {
  width: 27px;
  fill: #d22856;
}

.page-footer__index-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    height: 35px;
    fill: #d22856;
  }

  .page-footer__index-mobile {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social {
    width: 150px;
  }
}
