.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  margin-bottom: -73px;
  position: relative;
}

.page-header--active {
  background-color: #283645;
}

.page-header__wrapper {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 13px;
}

.page-header__wrapper--active {
  padding-bottom: 0;
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: -120px;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    @include wrapper;
    display: flex;
    padding-bottom: 35px;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__link-image {
    margin-top: 27px;
  }
}
