.photo {
  overflow: hidden;
}

.photo__wrapper {
  @include wrapper;
  margin-bottom: 43px;
}

.photo__title {
  text-align: center;
  width: 245px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 51px;
}

.photo__list {
  list-style: none;
  padding: 0;
  margin: 0 0 47px;

  &:last-child {
    margin-bottom: 0;
  }

  &--pan {
    margin: 0 -20px 20px;
  }
}

.photo__text {
  margin: 0;
  max-height: 100px;
  line-height: 24px;

  &--pan {
    margin: 0 0 6px;
  }
}

.photo__text-user {
  text-align: center;
  margin: -3px 0 3px 0;
}

.photo__like {
  border: 0;
  background-color: #f2f2f2;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  padding-left: 0;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 4px;
}

.photo__like--pan {
  border: 0;
  background-color: #f2f2f2;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  padding-left: 0;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.photo__panorama-mobile {
  width: 100%;
}

.photo__panorama-tablet,
.photo__panorama-desktop {
  display: none;
}

// .photo__img-tablet,
// .photo__img-desktop {
//   display: none;
// }

.photo__like--tablet {
  display: none;
}

.photo__item {
  margin-bottom: 20px;
}

.photo__item--pan {
  margin: 0 -20px 20px;
  position: relative;
}

.photo__img-mobile {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.photo__like-heart {
  margin-right: 15px;
}

.photo__pan {
  background-color: #d22856;
  width: 140px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 0;
  margin: 0;
  right: 20px;
  padding: 3px 0;
}

@media (min-width: $tablet-width) {
  .photo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 52px;
  }

  .photo__item {
    width: 300px;
    margin-right: 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    &:nth-child(2n) {
      margin-right: 20px;
    }
  }

  .photo__item--pan {
    margin: 0 0 50px;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 25px;
  }

  .photo__img-mobile,
  .photo__img-desktop {
    // display: none;
  }

  .photo__img-tablet {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .photo__img-mobile--pan {
    width: 100%;
    transform: translate(-19px, 0);
  }

  .photo__img-tablet--pan {
    display: block;
    width: 106vw;
    height: 89%;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .photo__text {
    margin: 0;
    width: 100%;
    // order: 1;
  }

  .photo__like {
    border: 0;
    background-color: #f2f2f2;
    color: #d22856;
    font-size: 12px;
    line-height: 24px;
    justify-content: space-between;
    padding: 11px 11px 0 5px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .photo__like--pan {
    border: 0;
    background-color: #f2f2f2;
    color: #d22856;
    font-size: 12px;
    line-height: 24px;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    order: -1;
    justify-content: end;
    width: 130px;
  }

  .photo__title {
    min-width: 440px;
    margin-top: 92px;
    margin-bottom: 75px;
    font-size: 18px;
  }


  .photo__like-heart {
    margin-right: 0;
    margin-left: 15px;
  }

  .photo__text-user {
    font-size: 18px;
  }

  .photo__wrapper {
    margin-bottom: 70px;
  }

  .photo__pan {
    top: 57px;
    right: 0;
  }

  .photo__img-tablet--pan img {
    height: auto;
    min-height: 509px;
  }
}

@media (min-width: $desktop-width) {
  .photo__img-desktop--pan {
    display: block;
    width: 100vw;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .photo__list {
    height: 1820px;
    margin: 0 0 55px;
  }

  .photo__text {
    min-height: 48px;
    width: 100%;
  }

  .photo__img-tablet,
  .photo__img-mobile {
    // display: none;
  }

  .photo__img-desktop {
    display: inline-block;
    vertical-align: top;
  }

  .photo__item {
    margin-right: 20px;
  }

  .photo__item:nth-child(3n+1) {
    margin-right: 0;
  }

  .photo__item--pan {
    margin: 0 0 50px;
    width: 100%;
  }

  .photo__title {
    width: 580px;
    margin-bottom: 88px;
  }

  .photo__wrapper {
    margin-bottom: 67px;
  }

  .photo__text--pan {
    min-height: 24px;
  }
}
