.photo__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.photo__title {
  @include wrapper;
  text-align: center;
}

.photo__list {
  list-style: none;
  padding: 0;
}

.photo__text {
  line-height: 24px;
}

.photo__text-user {
  @include wrapper;
  text-align: center;
}

.photo__like {
  border: 0;
  background-color: #f2f2f2;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
}

.photo__panorama-mobile {
  width: 100%;
}

.photo__panorama-tablet,
.photo__panorama-desktop {
  display: none;
}

.photo__img-tablet,
.photo__img-desktop {
  display: none;
}

.photo__like--tablet {
  display: none;
}

.photo__item {
  margin-bottom: 20px;
}

.photo__item--pan {
  margin: 0 -20px;
  padding: -10px 20px 0 20px;
}

.photo__img-mobile {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .photo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo__panorama-mobile,
  .photo__panorama-desktop {
    display: none;
  }

  .photo__img-mobile,
  .photo__img-desktop {
    display: none;
  }

  .photo__img-tablet {
    display: block;
    width: 100%;
  }

  .photo__panorama-tablet {
    display: block;
    width: 100%;
  }

  .photo__item {
    // width: 300px;
    // margin-right: 20px;
  }

  .photo__text {
    margin: 0;
  }

  .photo__like--tablet {
    display: block;
    border: 0;
    background-color: #f2f2f2;
    color: #d22856;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    right: 54px;
  }

  .photo__like {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .photo__panorama-mobile,
  .photo__panorama-tablet {
    display: none;
  }

  .photo__panorama-desktop {
    display: block;
    width: 100%;
  }

  .photo__img-tablet,
  .photo__img-mobile {
    display: none;
  }

  .photo__img-desktop {
    display: block;
  }
}
