.photo-commentator {
  padding: 13px 18px;
  background-color: #f2f2f2;
}

.photo-commentator--pan {
  margin: 0 20px;
  padding: 0 18px;
  padding-top: 12px;
}

.photo-commentator__name {
  line-height: 24px;
  font-weight: 700;
  vertical-align: bottom;
}

.photo-commentator__date {
  font-size: 12px;
  line-height: 24px;
  color: #283645;
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .photo-commentator {
    margin: 0;
    padding: 24px 27px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 21px;
    flex-grow: 1;
  }

  .photo-commentator--pan {
    display: flex;
    flex-wrap: wrap;
    padding: 0 27px;
    padding-top: 20px;
  }

  .photo-commentator__name {
    order: -3;
  }

  .photo-commentator__date {
    text-transform: uppercase;
    order: -2;
  }

  .photo-commentator__name--pan {
    order: -2;
  }
}
