.photo-commentator {
  padding: 0 20px;
  background-color: #f2f2f2;
}

.photo-commentator--pan {
  @include wrapper;
  background-color: #f2f2f2;
  margin: -10px 20px 0 20px;
  padding: 0;
}

.photo-commentator__name {
  line-height: 24px;
  font-weight: 700;
}

.photo-commentator__date {
  font-size: 12px;
  line-height: 24px;
}

.photo-commentator__name--pan {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photo-commentator--pan {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-commentator__appeal {
    order: -2;
  }

  .photo-commentator {
    margin-top: 0;
  }

  .photo-commentator__name--pan {
    order: -2;
  }
}
