.popup-request {
  font-family: "Open Sans", "Arial", sans-serif;
}

.popup-request__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.popup-request__text {
  font-size: 14px;
  line-height: 24px;
}
