.promo {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.promo_item {
  list-style: none;
}

.promo__text {
  font-size: 24px;
  line-height: 30px;
  margin: 4px 0 27px 0;
  text-align: center;
  color: #283645;
  font-weight: 300;
}

.promo__img {
  margin: 0 auto;
}

.promo__head {
  @include wrapper;
  background-color: #ffffff;
  margin: 0 0 63px 0;
}

.promo__advantages {
  @include wrapper;
  background-color: #f2f2f2;
  display: block;
  padding-top: 27px;
  position: relative;
}

.promo__advantages-mask::after {
  background: linear-gradient(to right bottom, transparent 49%, #f2f2f2 51%);
  top: -30px;
  bottom: 100%;
  height: 30px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.promo__list {
  list-style: none;
  padding: 0;
}

.promo__list-tablet,
.promo__list-desktop {
  display: none;
}

.promo__list-mobile {
  display: block;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 52px;
  }

  .promo__head {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 0 98px 0;
  }

  .promo__text {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 2px;
    line-height: 46px;
  }

  .promo__advantage {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 300px;
  }

  .promo__advantages-mask {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .promo__advantages-mask::after {
    top: -49px;
    height: 50px;
  }


  .promo__advantages {
    display: flex;
    flex-direction: row;
    max-width: none;
  }

  .promo__img {
    width: 350px;
  }

  .promo__list-mobile,
  .promo__list-desktop {
    display: none;
  }

  .promo__list-tablet {
    display: block;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo__text {
    font-size: 50px;
    line-height: 58px;
    margin: 2px 0 2px 0;
  }

  .promo__advantage {
    width: 100%;
  }

  .promo__advantages {
    padding-bottom: 9px;
    display: block;
  }

  .promo__list-mobile,
  .promo__list-tablet {
    display: none;
  }

  .promo__list-desktop {
    display: flex;
    order: -1;
  }

  .promo {
    padding-top: 67px;
  }

  .promo__head {
    @include wrapper;
    margin-bottom: 81px;
    margin-bottom: 165px;
  }

  .promo__advantages-mask {
    display: block;
    max-width: 960px;
    padding: 0 10px;
  }

  .promo__advantages-mask::after {
    top: -81px;
    height: 81px;
  }
}
