.put-out {
  background-color: #f2f2f2;
  margin-bottom: 40px;
}

.put-out__wrapper {
  @include wrapper;
}

.put-out__list {
  list-style: none;
  display: flex;
  padding: 0 0 46px 0;
  margin: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}

.put-out__button-sent {
  color: #d22856;
  border-color: #d22856;
  margin-bottom: 12px;

  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
    background-color: #d22856;
  }
}

.put-out__button-cancel {
  color: rgba(0, 0, 0, 0.1);
  border-color: rgba(#283645, 0.1);

  &:hover {
    border-color: #b5b9be;
    color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: #b5b9be;
    color: rgba(255, 255, 255, 0.3);
  }
}

.put-out__button--active,
.put-out__button {
  border: 0;
}

.put-out__item {
  margin-left: 15px;
  margin-right: 23px;
}

.put-out__button {
  padding: 0;
  bottom: 0;
  background: none;
  fill: #b5b8bd;
}

.put-out__button-sent,
.put-out__button-cancel {
  width: 100%;
  margin-bottom: 10px;
  background: #f2f2f2;
}

.put-out__button--active {
  order: -1;
  fill: #d22856;
}

.put-out__buttons {
  border-top: 1px solid #dddfe0;
  padding-top: 37px;
  padding-bottom: 30px;
}

.put-out__form {
  padding: 20px 0 0 0;
}

.put-out__img-mobile {
  width: 100%;
  margin-bottom: 40px;
}

.put-out__img-tablet,
.put-out__img-desktop {
  display: none;
}

.put-out__button-img {
  fill: #283645;
  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 0.5;
  }
}

.put-out__button-img--active {
  fill: #d22856;
  fill-opacity: 1;

  &:hover {
    fill-opacity: 1;
  }
}

.put-out__right-block {
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .put-out {
    margin-bottom: 0;
  }

  .put-out__img img {
    min-width: 298px;
  }

  .put-out__img-tablet {
    display: block;
    width: 50%;
    height: 100%;
  }

  .put-out__form {
    display: flex;
  }

  .put-out__list {
    padding: 0;
    display: block;
    margin: 0 0 40px;
  }

  .put-out__item {
    margin: 0;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    margin-bottom: 24px;
    padding-bottom: 20px;
    margin-left: 11px;
    margin-right: 24px;
  }

  .put-out__right-block {
    width: 50%;
    margin-left: 38px;
    margin-top: 9px;
  }

  .put-out__button-img {
    fill: #283645;
    width: 23px;
    height: 23px;
    fill-opacity: 0.3;

    &:hover {
      fill-opacity: 0.5;
    }
  }

  .put-out__button-img--active {
    fill: #d22856;
    fill-opacity: 1;

    &:hover {
      fill-opacity: 1;
    }
  }

  .put-out__wrapper {
    padding-top: 35px;
    padding-bottom: 44px;
  }

  .put-out__buttons {
    border-top: none;
    padding-top: 29px;
    padding-left: 12px;
  }

  .put-out__button-sent,
  .put-out__button-cancel {
    width: 95%;
  }

  .put-out__button-sent {
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .put-out {
    background-color: #ffffff;
    margin-bottom: 71px;
  }

  .put-out__wrapper {
    background-color: #f2f2f2;
    padding-bottom: 36px;
  }

  // .put-out__img-mobile,
  // .put-out__img-tablet {
  //   display: none;
  // }

  .put-out__img-desktop {
    display: block;
    margin-left: 80px;
    height: 100%;
  }

  .put-out__buttons {
    display: flex;
    padding-top: 111px;
  }

  .put-out__button-cancel {
    margin-left: 42px;
    width: 38%;
  }

  .put-out__right-block {
    margin-top: 0;
    margin-left: 80px;
  }

  .put-out__button-img {
    width: 45px;
    height: 45px;
    fill: #d22856;
    fill-opacity: 1;
  }

  .put-out__item {
    padding-bottom: 0;
  }

  .put-out__button-sent {
    width: 40%;
  }

  .put-out__img {
    margin-left: 81px;
  }
}
