.put-out {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
}

.put-out__list {
  list-style: none;
}

.put-out__button-sent {
  color: #d22856;
  border-color: #d22856;
}

.put-out__button-cancel {
  color: rgba($color: #283645, $alpha: 0.1);
  border-color: rgba($color: #283645, $alpha: 0.1);
}
