.range-controls__bar {
  display: none;
  appearance: none;
  background-color: transparent;

  &::-webkit-slider-runnable-track {
    appearance: none;
    border-radius: 2px;
    width: 600px;
    height: 2px;
    outline: none;
    position: static;
    border: 1px solid #000000;
    top: 19px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: #f2f2f2;
    border-radius: 18px;
    border: 2px solid #d22856;
    position: relative;

    &:active {
      background: #d22856;
    }
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    height: 14.2px;
    border-width: 8px 0;
  }

  &::-ms-thumb {
    border: 2px solid #d22856;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;

    &:active {
      background: #d22856;
    }
  }

  &::-ms-fill-lower {
    background: #000000;
    border: none;
    border-radius: 2px;
    height: 2px;
  }

  &:focus::-ms-fill-lower {
    background: #000000;
  }

  &::-ms-fill-upper {
    background: #000000;
    border: none;
    border-radius: 2px;
    height: 2px;
  }

  &:focus::-ms-fill-upper {
    background: #000000;
  }
}

.range-controls__bar--active {
  position: absolute;
  left: 0;
  width: 86%;
  bottom: 10px;
  display: block;
  margin-left: 17px;
  top: 85px;
}

@media (min-width: $tablet-width) {
  .range-controls__bar {
    display: block;
    width: 75%;
    margin-left: 30px;
    top: 12px;
  }

  .range-controls__bar--active {
    position: relative;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .range-controls__bar {
    width: 62%;
    margin-left: 47px;
    top: -3px;
  }
}
