.range-controls__bar {
  flex-direction: column;
  display: none;
}

.range-controls__bar--active {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 10px;
  display: block;
}

@media (min-width: $tablet-width) {
  .range-controls__bar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .range-controls__bar--active {
    position: relative;
    top: 0;
  }
}
