.reviews__list {
  list-style: none;
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
