.reviews {
  @include wrapper;
  margin-top: 23px;
  margin-bottom: 64px;
}

.reviews__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  height: 280px;
  margin: 0 auto;
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.reviews__toggles {
  padding: 0;
  margin: 0 auto;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__name-about {
  display: none;
}

.reviews__quotes {
  display: none;
}

.review__arrow-left,
.review__arrow-right {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-top: 36px;
  }

  .reviews__item--active {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    order: -1;
    font-size: 18px;
    margin: 0;
    margin-bottom: 19px;
  }

  .reviews__name {
    margin: 15px 0 0 0;
    font-size: 20px;
  }

  .reviews__name-about {
    text-align: center;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 139px;
    margin-top: 70px;
  }

  .reviews__item {
    align-items: center;
  }

  .reviews__item--active {
    align-items: center;
  }

  .reviews__name {
    font-size: 24px;
  }

  .reviews__name-about {
    font-size: 18px;
  }

  .reviews__text {
    width: 694px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__list {
    position: relative;
    overflow: unset;
  }

  .reviews__quotes {
    display: block;
    margin-bottom: 49px;
  }

  .review__arrow-left {
    display: block;
    position: absolute;
    top: 50%;
  }

  .review__arrow-right {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
  }
}
