.site-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 -20px;
}

.site-list__item {
  border: 1px solid #000000;
  border-top: 1px solid #485461;
  width: 100%;
  padding: 16px 0 14px 0;
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    margin-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    font-size: 18px;
    line-height: 18px;
    justify-content: flex-start;
    margin-top: 0;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    margin-left: 42px;
  }
}
