.table {
  width: 260%;
  transition: margin 0.3s;
  border: 0;
  border-collapse: collapse;
  margin-left: -81%;
  text-transform: uppercase;
}

.table__header {
  font-weight: 700;
  text-align: center;
  font-size: 120%;
  background-color: #283645;
  color: #ffffff;
}

.table__cell-head {
  font-size: 18px;
  padding: 18px 0;
  border: 3px solid #eeeeee;
  position: relative;
}

.table-price {
  font-size: 24px;
  font-weight: 100;
}

.table__first {
  display: none;
}

.table__cell {
  width: 33.333333%;
  border: 3px solid #eeeeee;
  padding: 11px 0 16px 23px;
  background-color: #ffffff;
  text-align: start;
}

.table__wrap {
  overflow: hidden;
  margin-bottom: 43px;
  background: #f2f2f2;
  position: relative;
}

.table__yes {
  stroke: #3dc644;
  stroke-width: 1px;
  width: 30px;
  height: 20px;
  margin-left: 48px;
  margin-top: 3px;
}

.table__no {
  stroke: #f25b26;
  stroke-width: 1px;
  width: 27px;
  height: 27px;
  margin: 0 0 -8px 48px;
}

.table__hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}

.table__hit-text {
  font-size: 14px;
  transform: rotate(-45deg);
  fill: #ffffff;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .table {
    @include wrapper;
    width: 94%;
  }

  .table__cell-head {
    border: 2px solid #f2f2f2;
    font-size: 16px;
    padding: 8px 0;
  }

  .table__none {
    background-color: #f2f2f2;
  }

  .table__first {
    display: table-cell;
  }

  .table-wrap {
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .table__cell {
    width: 25%;
    text-transform: none;
    padding: 3px 0 11px 14px;
  }

  .table__text {
    display: none;
  }

  .table-controls {
    display: none;
  }

  .table-price {
    font-size: 18px;
  }

  .table__hit {
    width: 60px;
  }
}

@media (min-width: $desktop-width) {
  .table__cell-head {
    font-size: 18px;
    padding: 17px 0;
  }

  .table-price {
    font-size: 24px;
  }

  .table {
    max-width: 945px;
  }

  .table__first {
    font-size: 18px;
  }

  .table__cell {
    padding: 10px 0 12px 24px;
  }

  .table__yes {
    margin-left: 78px;
    margin-top: 6px;
  }

  .table__no {
    margin: 0 0 0 77px;
  }
}
