.table {
  width: 300%;
  transition: margin 0.3s;
  border: 0;
  border-collapse: collapse;
  margin-left: -100%;
  text-transform: uppercase;
}

.table__header {
  font-weight: 700;
  text-align: center;
  font-size: 120%;
  background-color: #283645;
  color: #ffffff;
}

.table__cell-head {
  font-size: 18px;
  padding: 16px 0 19px 5px;
  border: 3px solid #eeeeee;
  position: relative;
}

.table-price {
  font-size: 24px;
  font-weight: 300;
}

.table__first {
  display: none;
}

.table__cell {
  width: 33.333333%;
  border: 3px solid #eeeeee;
  padding: 14px 0 14px 23px;
  background-color: #ffffff;
  text-align: start;
  position: relative;
}

.table__wrap {
  overflow: hidden;
  margin-bottom: 46px;
  background: #f2f2f2;
  position: relative;
  padding: 0 20px;
}

.table__yes {
  stroke: #3dc644;
  stroke-width: 1px;
  width: 37px;
  height: 23px;
  right: 13px;
  top: 16px;
  position: absolute;
}

.table__no {
  stroke: #f25b26;
  stroke-width: 1px;
  width: 26px;
  height: 26px;
  right: 19px;
  top: 13px;
  position: absolute;
}

.table__hit {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 70px;
}

.table__hit-text {
  font-size: 14px;
  transform: rotate(-45deg);
  fill: #ffffff;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .table {
    margin: 0 auto;
    width: 100%;
  }

  .table__cell-head {
    border: 2px solid #283645;
    font-size: 16px;
    padding: 8px 0;

    &:last-child {
      border-right-color: #283645;
    }
  }

  .table__none {
    background-color: #f2f2f2;
    border: transparent;
  }

  .table__first {
    display: table-cell;
  }

  .table__wrap {
    padding: 0 20px;
    overflow: auto;
    margin-bottom: 49px;
  }

  .table__cell {
    width: 25%;
    text-transform: none;
    padding: 3px 0 11px 14px;
  }

  .table__text {
    display: none;
  }

  .table-controls {
    display: none;
  }

  .table-price {
    font-size: 18px;
  }

  .table__hit {
    width: 60px;
    top: -7px;
  }

  .table__yes {
    right: 40%;
    top: 24%;
  }

  .table__no {
    right: 40%;
    top: 13%;
  }
}

@media (min-width: $desktop-width) {
  .table__cell-head {
    font-size: 18px;
    padding: 17px 0;
  }

  .table-price {
    font-size: 24px;
  }

  .table {
    max-width: 945px;
  }

  .table__first {
    font-size: 18px;
  }

  .table__cell {
    padding: 15px 0 13px 22px;
  }

  .table__yes {
    top: 43%;
    left: 43%;
  }

  .table__no {
    top: 26%;
    left: 44%;
  }
}
