.tariffs {
  background-color: #f2f2f2;
}

.tariffs__title {
  font-size: 18px;
}

.tariffs__list {
  list-style: none;
}

.tariffs__head {
  background-color: #283645;
  color: #ffffff;
}

.tariffs__scroll {
  background-color: #ffffff;
  list-style: none;
}

.tariffs__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
