.tariffs {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
}

.tariffs-title {
  font-size: 18px;
  line-height: 30px;
}

.tariffs__list {
  list-style: none;
}

.tariffs__head {
  background-color: #283645;
  color: #ffffff;
}

.tariffs-scroll {
  background-color: #ffffff;
}

.tariffs__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.tariffs-scroll {
  list-style: none;
  font-size: 14px;
  line-height: 30px;
}

