.tariffs {
  @include wrapper;
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tariffs__title {
  font-size: 18px;
}

.tariffs__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.tariffs__item {
  width: 277px;
}

.tariffs__head {
  background-color: #283645;
  color: #ffffff;
}

.tariffs__scroll {
  background-color: #ffffff;
  list-style: none;
  padding: 0;
}

.tariffs__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.tariffs__toggles {
  padding-left: 0;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .tariffs__scroll {
    margin: 0 auto;
    text-align: start;
    padding-left: 14px;
  }

  .tariffs__item {
    width: 152px;
    margin-right: 2px;
  }

  .tariffs__title {
    font-size: 16px;
  }

  .tariffs__price {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__title {
    font-size: 18px;
  }

  .tariffs__price {
    font-size: 24px;
  }
}
